@model RapidBootcamp.WebApplication.Models.Category

<html>
    <head>
        <title>Home Page</title>
    </head>
    <body>
        <h1>Welcome @ViewData["FullName"]</h1>
        <p>Address @ViewBag.Address</p>
        <p>@Model.CategoryId &nbsp; @Model.CategoryName</p>
    </body>
</html>
